<%- include("partials/header.ejs") %>
    <nav class ="navbar navbar-dark bg-dark mb-4">
        <a href="/" class ="navbar-brand">Ordenamiento</a>
    </nav>  
    <div class="container">
        <div class="row">
            <!-- LIST -->
            <div class="col-md-5">
                <h1 class ="text-center">Proyectos</h1>
                <table class ="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class ="text-center">Letra</th>
                            <th class ="text-center">Proyecto</th>
                        </tr>
                    </thead>
                    <% arregloAbecedario = ["A", "B","C", "D", "E", "F", "G", "H", "I", "J", "k", "L", "M", "N"] %>
                    <tbody>
                        <% for(var i = 0; i < tasks2.length; i++) { %>
                            <tr>
                                <td class ="text-center"><%= arregloAbecedario[i]%></td>
                                <td class ="text-center"><%=  tasks2[i].Nproyecto %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <h1 class ="text-center">Criterios</h1>
                <table class ="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class ="text-center">Numero</th>
                            <th class ="text-center">Nombre</th>
                            <th class ="text-center">Criterio</th>
                            <th class ="text-center">Porcentaje del criterio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < tasks.length; i++) { %>
                            <tr>
                                <td class ="text-center"><%= i + 1%></td>
                                <td class ="text-center"> <%= tasks[i].proyecto %></td>
                                <td class ="text-center"><%=  tasks[i].criterio%></td>
                                <td class ="text-center"><%=  tasks[i].porcentajeCriterio%> <%= "%" %></td>
                            </tr>
                        <% } %>

                    </tbody>
                </table>
                <p>

                                                                 <!-- PROCESO DEL ALGORITMO -->
                    <!-- 1) Separamos cada criterio (ABC) asignadole un numero de acuerdo a su posicion (3A 2B 1C) y después lo multiplicamos con el porcentaje ingresado -->
                    <!--Si el usuario ingresó un criterio ABC con un porcentaje de 30 % de importancia-->
                    <!--Quedaría de esta manera: A90 B60 C30-->
                    <!--Cada valor se guardará en un arreglo que se usará después-->

                    <!-- 2) Necesitamos hallar el criterio con mayor numero de caracteres y obtener su numero de caracteres  -->
                    <!-- Con el primer FOR conseguimos el tamaño de cada criterio y cada tamaño lo guardaremos en un arreglo-->
                    <!-- A continuación ordenaremos el arreglo de menor a mayor -->
                    <!-- Con el segundo FOR recorremos el arreglo ordenado y de esa forma el último valor del arreglo se guardaría en una variable llamada maximoCriterioNumero-->
                    <!-- Una vez obtenido el mayor valor, usaremos un tercer FOR para comparar cada  tamaño de cada criterio con la variable maximoCriterioNumero
                        y de esa forma conseguiremos el criterio con mayor numero de caracteres que se guardará en la variable maximoCriterio -->

                    <!-- 3) La variable maximoCriterio se convertirá en un arreglo que se guardará en la variable temp para que podamos evaluar todos los criterios con cada letra -->
                    <!-- Se crearán dos variables para apoyarnos en las operaciones que se realizarán  -->
                    <!-- Creamos dos for anidados, el primero va a recorrer el arreglo temp y el segundo va a recorrer cada criterio-->
                    <!-- La variables aux y aux2 guardarán al criterio que corresponde respecto al arreglo-->
                    <!-- La auxiliarSuprema guardará el tamaño del criterio-->
                    <!-- Si la variable aux incluye la letra que corresponde al primer for, retornará true-->
                    <!-- Si el condicional retorna true, el criterio será cortado para que se pueda conseguir el numero, después ese numero se convertira en entero y se sumara con la variable auxiliar -->
                    <!-- La variable auxiliar2 tomará la letra y la suma-->
                    <!-- Después de esto, los arreglos registrarán a la sumatotal que es entero y a la sumatotal con letra-->


                        <!-- VARIABLES-->
                        <% if(tasks.length > 0) { %>
                            <%var x = 0; %> <!--Se usa en la prueba de porcentajes (Antes de los FOR)-->
                            <%let texto %> <!--Guarda el criterio (Se usa en el FOR 1)-->
                            <%var contador %> <!--Guarda la cantidad de texto que tiene la variable texto (Se usa en el FOR 1)-->
                            <%var aux %> <!-- Suma la letra con el porcentaje (Se usa en el FOR 2) -->
                            <%var aux2 = 0 %> <!-- Me ayuda a guardar el valor del arreglo de criterios  y para cortarlo (Se usa en el FOR 3) -->
                            <%var aux3 %> <!-- Convierte en entero al valor que cortamos usando el aux2 (Se usa en el FOR 3) -->
                            <%var auxLetras = 0 %> <!-- Me ayuda a guardar la cantidad de letras de cada criterio (Se usa en el FOR 3) -->
                            <%var arreglo = []%> <!-- Agregamos cada criterio al arreglo (Se usa en el FOR 2) -->
                            <%var arregloCriterios = [] %>
                            <%var maximoCriterioNumero = 0 %>
                            <%var maximoCriterio %>
                            <%var temp %>
                            <%var arregloDeValoresFinales =[] %>
                            <%var arreglodeValoresFinalesConLetras = [] %>
                            <%var arregloDeLetrasOrdenadas = [] %>
                            <%var arregloDeProyectos = [] %>
                        <!----------------------------------------PASO UNO--------------------------------------->
                            <div class ="d-none">
                            <%= "Criterios multiplicados con los porcentajes: " %>
                            </br>  
                            <% for(var i = 0; i < tasks.length; ++i) { %>
                                <% texto = tasks[i].criterio %>  <!--Guardamos el criterio en la variable-->
                                <% texto = texto.split("") %> <!--Pasamos la variable a un arreglo de caracteres-->
                                <% contador = texto.length %>
                                    <% for(var j = 0; j < texto.length; j++) { %>
                                            <% aux = texto[j] +(contador * tasks[i].porcentajeCriterio) %>
                                            <%= aux %>
                                            <% arreglo.push(aux) %>
                                            <% --contador %>
                                    <% } %> <!-- Final del segundo FOR-->
                                    </br>
                            <% } %> <!--Final del primer FOR-->
                        <!----------------------------------------TERMINA EL PASO UNO---------------------------->
                        
                        <!----------------------------------------PASO DOS--------------------------------------->
                        <!-- Calculando el máximo de criterios-->
                            <%= "El mayor numero de criterios es: " %>
                            <% for(var i = 0; i < tasks.length; ++i) { %> 
                                <% var aux = tasks[i].criterio.length %>
                                <% arregloCriterios.push(aux) %>
                            <% } %> <!--Final del FOR que guarda todos los tamaños de los criterios en un  arreglo-->
                            <% arregloCriterios.sort((a,b) => a - b) %> <!--Ordena el arreglo  de menor a mayor-->
                            <% for(var i = 0; i < arregloCriterios.length; ++i) {  %>
                                <% maximoCriterioNumero = arregloCriterios[i] %>
                            <% } %> <!-- Final del FOR que calcula el mayor criterio-->
                            <%= maximoCriterioNumero %>
                            <% for(var i = 0; i < tasks.length; ++i) { %>
                                <% if(maximoCriterioNumero == tasks[i].criterio.length){ %>
                                        <%maximoCriterio = tasks[i].criterio %>
                                <%} %>
                            <% } %> <!-- En este FOR conseguimos al criterio con mayor numero de caracteres -->
                            </br>
                        <!----------------------------------------TERMINA EL PASO DOS---------------------------->
                        <!----------------------------------------PASO TRES-------------------------------------->
                                            
                            <%temp = maximoCriterio.split("") %> <!--Convertimos en un arreglo al criterio más largo -->
                                <%= "Proyectos:" %>  <%= temp %> <!--Se iprime el arreglo-->
                            </div>
                            <% var auxiliar = 0 %> <!--La variable auxiliar que alamancera las sumas totales se le asigna 0-->
                            <% var auxiliar2 = 0 %>
                            <% for(var i = 0; i < temp.length; i++) { %>
                                <%auxiliar = 0 %> <!--La variabel auxiliar se actualiza a cero para la siguiente suma-->
                                <%auxiliar2 = 0%>
                                <% for(var j = 0; j < arreglo.length; j++){ %>
                                        <% var aux = arreglo[j] %> 
                                        <% var auxLetras = arreglo[j].length %> 
                                        <% if (aux.includes(temp[i])){ %>
                                            <% aux = aux.slice(1,auxLetras) %>  <!--Se corta el criterio para conseguir el numeroo-->
                                            <% aux3 = parseInt(aux) %>  <!-- Convertimos en entero al numero que está en string -->
                                            <% auxiliar += aux3 %> <!-- auxiliar se sumará con el entero-->
                                            <% auxiliar2 =  temp[i] + auxiliar %>
                                        <% } %>
                                    <% } %> <!-- Fin del FOR-->
                                    <% arregloDeValoresFinales.push(auxiliar)%>
                                    <% arreglodeValoresFinalesConLetras.push(auxiliar2) %>
                            <% } %> <!--Fin del FOR-->    
                    <!--------------------------------------------TERMINA EL PASO TRES--------------------------->
                    <!--------------------------------------------MOSTRAMOS DATOSS EN UNA TABLA--------------------->
                    <!-- <h1 class ="text-center">Ordenamiento de los proyectos</h1> -->
                    <!-- <div class ="d-none"> -->
                        <!-- <%= arregloDeValoresFinales %> -->
                        <!-- </br> -->
                        <% var arregloDeValoresFinalesDesordenados = [] %>
                        <% arregloDeValoresFinalesDesordenados = arregloDeValoresFinales %>
                  
                        <% arregloDeValoresFinales.reverse() %>               <!-- Se invierte el arreglo -->
                        <!-- <%= arregloDeValoresFinales%>        -->
                        <!-- </br> -->
                        <!-- <%= arreglodeValoresFinalesConLetras %>   -->
                    <!-- </div> -->
                    </br>        
                    <!-- </br> -->
                    <% var auxiliarSuprema %>
                    <% var auxi %>
                    <!-- <%= arreglodeValoresFinalesConLetras %> -->
                    <% var arregloNumerosLetrasOrdenados = [] %>
                    <% var arregloLetrasOrdenadas2  = [] %>
                    <table class ="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class ="text-center">Proyecto</th>
                                <th class ="text-center">Importancia</th>
                            </tr>
                        </thead>
                   
                        <!-- <%= arreglodeValoresFinalesConLetras %> -->
                        <tbody>         
                            <!-- <%= arregloDeValoresFinales %> </br> -->
                            <% var cont2 = 0 %>        
                            <%for (var i =  0; i < arregloDeValoresFinales.length; i++){ %>
                                <% for(var j =  i +1; j < arregloDeValoresFinales.length; j++){ %>
                                         <% if (i == arregloDeValoresFinales.length){ %>
                                                 <% break %>
                                          <%}else if(arregloDeValoresFinales[i] == arregloDeValoresFinales[j]){ %>
                                                <% cont2 = cont2 + 1 %>
                                           <% } %>
                                            
                                <%} %>
                            <% } %>
                            <!-- <%= cont2 %> -->
                           
                            <% if (cont2 > 0){ %>
                                        <% var arregloLetras = [] %>
                                    <% var arregloNumeros = [] %>
                
                                    <% for ( var i = 0; i < arreglodeValoresFinalesConLetras.length; i++){ %>
                                        <% var Tam = arreglodeValoresFinalesConLetras[i].length %>
                                        <% var aux2 = arreglodeValoresFinalesConLetras[i] %>
                                        <% var aux3 = arreglodeValoresFinalesConLetras[i] %>
                                        <% aux2 = aux2.slice(0,1) %>
                                        <%aux3 = aux3.slice(1,Tam) %> <!--Obtenemos el numero-->
                                        <% arregloLetras.push(aux2) %>
                                        <% arregloNumeros.push(aux3) %>
                                    <%} %>
                
                                    <% var tempLetra %>
                                    <% var tempNumero %>
                                    <% for ( var i = 1; i < arregloLetras.length; i++){ %>
                                        <% for (var j = 0; j < arregloLetras.length - 1; j++){ %>
                                            <% if (arregloNumeros[i] > arregloNumeros[j]){ %>
                                                <% tempNumero = arregloNumeros[i] %>
                                                <% arregloNumeros[i] = arregloNumeros[j ] %>
                                                <% arregloNumeros[j ] = tempNumero %>
                                                <% tempLetra = arregloLetras[i]  %>
                                                <% arregloLetras[i] = arregloLetras[j] %>
                                                <% arregloLetras[j] = tempLetra %>
                                                <% var guardar =  arregloLetras[j ] + arregloNumeros[j ] %>
                                                <% arregloLetrasOrdenadas2.push(guardar) %>
                                            <%} %>
                                        <%} %>  
                                    <%} %>
                                <!-- <%= arreglodeValoresFinalesConLetras %>
                                    <%= "Resultado final:" %>
                                    <%= arregloNumeros %>
                                    <%= arregloLetras %> -->
                                    <% var auxConcatenado %>
                                    <% arregloConcatenado = [] %>
                                    <% for (var i = 0; i < arregloNumeros.length; i++) { %>
                                        <% auxConcatenado = arregloLetras[i] + arregloNumeros[i] %> 
                                        <% arregloConcatenado.push(auxConcatenado) %>
                                    <%} %>
                                    <!-- <%= "Final: " %>
                                    <%= arregloConcatenado %>
                            -->
              
                            <%} else if (cont2 == 0) { %>
                                <% var arregloLetras = [] %>
                                <% for (var i = 0; i < arreglodeValoresFinalesConLetras.length; i++){ %>
                                    <% var auxiliar = 0 %>
                                    <% var final = 0 %>
                                    <% for (var j = 0; j < arreglodeValoresFinalesConLetras.length; j++) { %>
                                        <% auxiliar = arregloDeValoresFinales[i]%> <!--Guardamos el numero-->
                                        <% var numeroLetra = auxiliar.toString() %> <!--Convertimos en string al numero "430"-->
                                        <% var aux = arreglodeValoresFinalesConLetras[j] %> <!-- A430  D430-->
                                        <% aux = aux.slice(0,1) %> <!--Tenemos la letra de J-->
                                        <% if (arreglodeValoresFinalesConLetras[j].includes(numeroLetra)){ %> <!--Vemos si 340 está incluido en A430-->
                                            <% final = aux%>
                                            <%arregloLetras.push(final) %>
                                            <%break%>
                                        <%} %>
                                    <% } %>
                                <% } %>
            
                                <% arregloDeValoresFinales.sort((a,b) => a - b) %>    <!--Se ordena el arreglo de valores finales de menor a mayor -->
                                <% arregloDeValoresFinales.reverse() %>
                                <% arregloNumeros = arregloDeValoresFinales %>
                                <% arregloLetras.reverse() %>

                                <% var auxConcatenado %>
                                    <% arregloConcatenado = [] %>
                                    <% for (var i = 0; i < arregloNumeros.length; i++) { %>
                                        <% auxConcatenado = arregloLetras[i] + arregloNumeros[i] %> 
                                        <% arregloConcatenado.push(auxConcatenado) %>
                                    <%} %>
                            <%} %>

                                                       
                            
                        </tbody>
                        <% for (var i = 0; i < arregloDeValoresFinales.length; i++){ %>
                            <tr>
                                <td class ="text-center"><%= arregloLetras[i] %></td> <!-- Se imprime la letra-->
                                <td class ="text-center"><%= arregloNumeros[i] %></td>
                            </tr>
                        <% } %>
                        <tbody>

                        </tbody>
                    </table>  

                        <!-- <%= arreglodeValoresFinalesConLetras %>
                        <%= arregloLetras %> </br>
                       <%= arregloNumeros %>
                       <%= arregloConcatenado %>
                    -->
                </p>
                
            </div> <!-- Fin de col-md-7 -->
   
           <!--- <%= arregloDeValoresFinales %> -->
           <!-- <%= arregloDeLetrasOrdenadas %> -->
            <!-- DIAGRAMA DE HASSE -->
            <% arregloDeLetrasOrdenadas.reverse() %>
            <% var num = arregloDeLetrasOrdenadas.length - 1 %>
            <% var ultimoAux = num %>
            <div class="col-md-7">  
            <h1 class ="text-center titulofinal">Diagrama de Hasse</h1> 
            <% var salvadora = arreglodeValoresFinalesConLetras.length - 1%>
            <div class ="centrar">
                <% for(var i = 0; i < arregloConcatenado.length; i++){ %>
                    <% var aux1= 0  %>
                    <% var aux2 = 0  %>
                    <% var aux3 = 0  %>
                    <% var aux4 = 0  %>
                    <% var auxI = 0 %>
                    <% var auxJ = 0 %>
                    <% for (var j = i +1; j < arregloConcatenado.length; j++){ %>
                        <%   aux1 = arregloConcatenado[i]  %> <!-- I-->
                        <%  aux2 = arregloConcatenado[i] %>  <!-- I-->
                        <%   aux3 = arregloConcatenado[j]  %> <!--J-->
                        <%  aux4 = arregloConcatenado[j] %> <!--J-->
                        <% auxiliarSuprema = arregloConcatenado[i].length %>  <!--Tamaño del valor I-->                <!-- Conseguimos el tamaño del elemento que corresponde al arregloDeValoresFinalesConLetras -->
                        <% auxiliarSuprema2 = arregloConcatenado[j].length %> <!--Tamaño del valor J-->
                        <% aux1 = aux1.slice(0,1) %> <!--La letra del valor I--> 
                        <% aux3 = aux3.slice(0,1) %> <!--La letra del valor J--> 
                        <% aux2 = aux2.slice(1, auxiliarSuprema) %> <!--El numero de I--> 
                        <% aux4 = aux4.slice(1, auxiliarSuprema2) %> <!--El numero de J--> 
                        <% auxI = parseInt(aux2) %> <!--Convrtimos en numero al valor de I-->
                        <% auxJ = parseInt(aux4) %> <!--Convertimos en numero al valor de J--> 
                            <% if (auxJ == auxI) { %> <!-- Comparamos los valores finales-->
                            <h1 class ="text-center d-inline letra"><%= aux1 %></h1>
                            <!-- <img src="images/lineaH.png" class ="imagen2"> -->
                            <% if(j == salvadora)  { %>
                                <h1 class ="text-center d-inline letra"><%= aux3 %></h1>
                            <% } %>
                            <%break %>
                            <% } else if(auxJ != auxI) { %> <!--Fin del primer IF-->
                                <h1 class ="text-center d-block letra"><%=aux1 %></h1>
                                <img src="images/linea.png" class ="imagen text-center">
                                </br>   
                                <% if (j == salvadora){ %>
                                    <h1 class ="text-center d-inline letra"><%= aux3 %></h1>
                                <%} %>
                                <%break%>
                            <% } %> <!-- Fin del else-->
                        <% } %> <!--Fin del segundo FOR-->
                    <%} %> <!--FIn del primer FOR-->
            </div>
                


    
                <% } %>
                <!-- <a href="/index" class ="btn btn-primary btn-block mb-4">Regresar</a> -->
                <script src = "javascript/main.js"></script>
            </div>
        </div> <!-- Fin de row -->
    </div> <!--Fin de container-->
    <div class="botonfinal">
        <a href="/index" class ="btn btn-primary boton2">Regresar</a>
    </div>
<%- include("partials/footer.ejs") %>