<%- include("partials/header.ejs") %>
    <nav class ="navbar navbar-dark bg-dark mb-4">
        <a href="/" class ="navbar-brand">Trabajo Parcial de Discreta</a>
    </nav>  
    <div class="container">
        <div class="row">
            <!-- LIST -->
            <div class="col-md-5">
                <h1 class ="text-center">Proyectos</h1>
                <table class ="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class ="text-center">Numero</th>
                            <th class ="text-center">Proyecto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < tasks.length; i++) { %>
                            <tr>
                                <td class ="text-center"><%= i + 1%></td>
                                <td class ="text-center"><%=  tasks[i].proyecto %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <h1 class ="text-center">Criterios</h1>
                <table class ="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class ="text-center">Numero</th>
                            <th class ="text-center">Criterio</th>
                            <th class ="text-center">Porcentaje del criterio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < tasks.length; i++) { %>
                            <tr>
                                <td class ="text-center"><%= i + 1%></td>
                                <td class ="text-center"><%=  tasks[i].criterio%></td>
                                <td class ="text-center"><%=  tasks[i].porcentajeCriterio%></td>
                            </tr>
                        <% } %>

                    </tbody>
                </table>
                <p>
                    <!-- VARIABLES-->
                    <% if(tasks.length > 0) { %>
                        <%var x = 0; %> <!--Se usa en la prueba de porcentajes (Antes de los FOR)-->
                        <%let texto %> <!--Guarda el criterio (Se usa en el FOR 1)-->
                        <%var contador %> <!--Guarda la cantidad de texto que tiene la variable texto (Se usa en el FOR 1)-->
                        <%var aux %> <!-- Suma la letra con el porcentaje (Se usa en el FOR 2) -->
                        <%var aux2 = 0 %> <!-- Me ayuda a guardar el valor del arreglo de criterios  y para cortarlo (Se usa en el FOR 3) -->
                        <%var aux3 %> <!-- Convierte en entero al valor que cortamos usando el aux2 (Se usa en el FOR 3) -->
                        <%var auxLetras = 0 %> <!-- Me ayuda a guardar la cantidad de letras de cada criterio (Se usa en el FOR 3) -->
                        <%var arreglo = []%> <!-- Agregamos cada criterio al arreglo (Se usa en el FOR 2) -->
                        <%var arregloCriterios = [] %>
                        <%var maximoCriterioNumero = 0 %>
                        <%var maximoCriterio %>
                        <%var temp %>
                        <%var arregloDeValoresFinales =[] %>
                        <%var arreglodeValoresFinalesConLetras = [] %>

                        <!--Algoritmo-->
                        <div class ="d-none">
                        <%= "Criterios multiplicados con los porcentajes: " %>
                        </br>
                        <% for(var i = 0; i < tasks.length; ++i) { %>
                            <% texto = tasks[i].criterio %>  <!--Guardamos el criterio en la variable-->
                            <% texto = texto.split("") %> <!--Pasamos la variable a un arreglo de caracteres-->
                            <% contador = texto.length %>
                                <% for(var j = 0; j < texto.length; j++) { %>
                                        <% aux = texto[j] +(contador * tasks[i].porcentajeCriterio) %>
                                        <%= aux %>
                                        <% arreglo.push(aux) %>
                                        <% --contador %>
                                <% } %> <!-- Final del segundo FOR-->
                                </br>
                        <% } %> <!--Final del primer FOR-->

                        <!-- Calculando el máximo de criterios-->
                        <%= "El mayor numero de criterios es: " %>
                        <% for(var i = 0; i < tasks.length; ++i) { %> 
                            <% var aux = tasks[i].criterio.length %>
                            <% arregloCriterios.push(aux) %>
                        <% } %> <!--Final del FOR que guarda todos los numeros de criterios en un  arreglo-->
                        <% arregloCriterios.sort((a,b) => a - b) %> <!--Ordena el arreglo  de menor a mayor-->
                        <% for(var i = 0; i < arregloCriterios.length; ++i) {  %>
                            <% maximoCriterioNumero = arregloCriterios[i] %>
                        <% } %> <!-- Final del FOR que calcula el mayor criterio-->
                        <%= maximoCriterioNumero %>
                        <% for(var i = 0; i < tasks.length; ++i) { %>
                            <% if(maximoCriterioNumero == tasks[i].criterio.length){ %>
                                    <%maximoCriterio = tasks[i].criterio %>
                            <%} %>
                        <% } %>
                        </br>
                    <!--Algoritmo final-->
                    <%temp = maximoCriterio.split("") %> <!--Convertimos en un arreglo al criterio más largo -->
                        <%= "Proyectos:" %>  <%= temp %> <!--Se iprime el arreglo-->
                    </div>
                    <% var auxiliar = 0 %> <!--La variable auxiliar que alamancera las sumas totales se le asigna 0-->
                    <% var auxiliar2 = 0 %>
                    <% for(var i = 0; i < temp.length; i++) { %>
                        <%auxiliar = 0 %> <!--La variabel auxiliar se actualiza a cero para la siguiente suma-->
                        <%auxiliar2 = 0%>
                        <% for(var j = 0; j < arreglo.length; j++){ %>
                                <% var aux = arreglo[j] %>
                                <% var auxLetras = arreglo[j].length %>
                                <% if (aux.includes(temp[i])){ %>
                                    <% aux = aux.slice(1,auxLetras) %>
                                    <% aux3 = parseInt(aux) %>
                                    <% auxiliar += aux3 %>
                                    <% auxiliar2 =  temp[i] + auxiliar %>
                                <% } %>
                            <% } %> <!-- Fin del FOR-->
                            <% arregloDeValoresFinales.push(auxiliar)%>
                            <% arreglodeValoresFinalesConLetras.push(auxiliar2) %>
                    <% } %> <!--Fin del FOR-->    

                    <h1 class ="text-center">Ordenamiento de los proyectos</h1>
                    <div class ="d-none">
                        <%= arregloDeValoresFinales %>
                        </br>
                        <% arregloDeValoresFinales.sort((a,b) => a - b) %>     
                        <% arregloDeValoresFinales.reverse() %>
                        <%= arregloDeValoresFinales%>    
                        </br>
                        <%= arreglodeValoresFinalesConLetras %>  
                    </div>
                    </br>        
                    </br>
                    <% var auxiliarSuprema %>
                    <% var auxi %>
                    <table class ="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class ="text-center">Proyecto</th>
                                <th class ="text-center">Importancia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < arregloDeValoresFinales.length; i++) { %>
                                <% for(var j = 0; j < arreglodeValoresFinalesConLetras.length; j++){ %>
                                    <% var  aux = arreglodeValoresFinalesConLetras[j]  %>
                                    <% var aux2 = arreglodeValoresFinalesConLetras[j] %>
                                    <% auxiliarSuprema = arreglodeValoresFinalesConLetras[j].length %>
                                    <% aux = aux.slice(0,1) %> <!--La letra-->
                                    <% aux2 = aux2.slice(1, auxiliarSuprema) %> <!--E   l numero-->
                                    <% aux3 = parseInt(aux2) %>
                                    <% if (aux3 == arregloDeValoresFinales[i]) { %>
                                          <%auxi =  aux %>
                                    <% } %> <!-- Final del condicional-->
                                 <% } %> <!--Final del FOR-->
                                <tr>
                                    <td class ="text-center"><%= auxi %></td>
                                    <td class ="text-center"><%= arregloDeValoresFinales[i] %></td>
                                </tr>
                            <% } %>
    
                        </tbody>
                    </table>    
                <% } %>

                </p>
                <a href="/" class ="btn btn-primary btn-block mb-4">Regresar</a>
            </div> <!-- Fin de col-md-7 -->

            <!-- DIAGRAMA DE HASSE -->
            <div class="col-md-7">
                <h1 class ="text-center">Diagrama de Hasse</h1>
                <canvas id = "canvas">
                    <style>
                        canvas{
                            margin-left: 90px;
                            width: 500px;
                            height: 500px;
                            border: 1px solid black;
                        }
                    </style>
                    <script>
                        var c = document.getElementById("canvas");
                        var numeroProyectos = document.getElementById("proyectos");
                        var ctx = c.getContext("2d");
                        for(var i = 0; i < b; i++){
                            var x = (Math.random() * 194);
                            var y = (Math.random() * 120);
                            ctx.fillRect(x,y,30,30);
                        }
                        
                    </script>
                </canvas>
            </div>
        </div> <!-- Fin de row -->
    </div> <!--Fin de container-->
<%- include("partials/footer.ejs") %>